 * {
    box-sizing: border-box;
 }
h1 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 91.2%;
    letter-spacing: -0.022em;
    margin-bottom: 0;
}
h2 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 56px;
    line-height: 91.2%;
    margin-bottom: 0;
}
h3 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 92.1%;
    margin-bottom: 0;
}
h4 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 92.1%;
    margin-bottom: 0; 
}
h5 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 28px;
    line-height: 92.1%;
    margin-bottom: 0; 
}
h6 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 92.1%;
    margin-bottom: 0; 
}
.s1 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 24px;
    margin-bottom: 0;
}
.s2 {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 0;
}
s3 {
    .s2 {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 18px;
        margin-bottom: 0;
    }
}
p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}
.hero-text {
    text-align: left;
    padding-top: 3em;
}
.hero-button {
    text-align: center;
}
.hero-image {
    width: 100%;
}
.question-text {
    text-align: left;
}

.footer-background {
    background-color: #1F2124 ;
}