 * {
    box-sizing: border-box;
 }
h1 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 91.2%;
    letter-spacing: -0.022em;
    margin-bottom: 0;
}
h2 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 46px;
    line-height: 91.2%;
    margin-bottom: 0;
}
h3 {
    font-family: 'Merriweahter', serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 92.1%;
    margin-bottom: 0;
}
p {
    font-family: 'Nunito', sans-serif;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 0;
}

.hero {
    border: solid red;

}
.hero-text {
    text-align: left;
    padding-top: 3em;
}
.hero-button {
    text-align: center;
}
.hero-image {
    width: 100%;
}
